---
layout: page
---

<div class="post page-margin">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ page.title }}</h1>
          <div class="post-info-wrapper">
            <p class="italic">Created at
              <span class="bold">{{ page.date | date: "%b %-d, %Y" }}</span>
              {% include read-time.html
                          content=content
                          bracket_start='('
                          bracket_end=')'
                          unit='min'
                          approx='true'
                          caption='read'
              %}
            </p>
          </div>
          <hr />
          {{ content }}
        </div>
      </div>

      <div class="row mx-0">
        <p class="center-text py-3">
          <a href="{{ site.baseurl }}/notes">Back to all notes</a>
        </p>
      </div>
    </div>
  </section>
</div>
